<a class="skip-link" href="#main-content">Skip to content</a>

<header class="page-header">
    <div class="container">
        <a class="logo" href="/">
            <img src="/assets/images/logo.png" alt="ACF Boilerplate logo">
        </a>
    </div>
</header>

<section class="hero">
    <div class="container">
        <div class="flow flow--tight | max-w-short">
            <h1>Copy &amp; Paste field groups for Advanced Custom Fields</h1>
            <p class="c-grey-700">You’ll need an <a class="weight-bold" href="https://www.advancedcustomfields.com/pro/">Advanced Custom Fields PRO</a> license to use some of these field groups. If you don’t have one already, it’s well worth it.</p>
            <a class="btn btn--teal | flow-space-4" href="/#main-content">Browse Field Groups</a>
        </div>
    </div>
</section>