<footer class="page-footer | gap-top-6 pad-4 text--1">
    A project by 
    <a class="page-footer__name | gap-left-2" href="https://undercores.dev">
        {% include "icons/cg-logo.svg" %}
        <span>Chris Galbraith</span>
    </a>
</footer>

{% for id, src in site.scripts %}
    <script id="{{ id }}-js" src="{{ src }}"></script>
{% endfor %}

</body>
</html>