/* Buttons */
.btn {
    appearance: none;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--color-grey);
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.62rem 2.2rem;
    text-decoration: none;
}

.btn:hover {
    background-color: transparent;
    color: var(--color-primary);
}

@each $key, $value in $colors {
    .btn--#{$key} {
        background-color: var(--color-#{$key});
        color: auto-color($value);
    }

    .btn--#{$key}:hover {
        background-color: auto-color($value);
        color: var(--color-#{$key});
    }
}

.btn--small {
    padding: var(--size-1) var(--size-3);
}
