.site-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    > * + * {
        margin-inline-start: var(--size-4);
    }
}

.site-nav a {
    color: var(--color-teal-100);
    text-decoration: none;

    @media (hover: hover) {
        color: var(--color-white);
    }
}
