---
title: ACF Boilerplate | Field Group configurations for Advanced Custom Fields
layout: default
tags:
    - siteNav
---

<main id="main-content" class="flow flow--tight | container | pad-4" tabindex="-1">

    <div class="auto-grid">
        <div class="card">
            <div class="card__content">
                <h4>Panels</h4>
                <p>Repeater field for a common pattern of showing a grid of services or similar.</p>
            </div>
            <div class="card__actions">
                <button class="btn btn--small | font-mono text--1">Get PHP</button>
                <button class="btn btn--small | font-mono text--1">Get JSON</button>
            </div>
        </div>
    </div>

</main>